{% extends "base.html" %}
{% load static %}
{% block title_text %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-3">
      <img src="{% static 'img/my_cat.jpg' %}" class="img-fluid">
    </div>
    <div class="col-9">
      <h1>Привет, я автор</h1>
      <p class="fs-5">
          И я обожаю язык программирования Python!) А еще увлекаюсь игрой на гитаре, готовкой всякой вкусной еды, 
          чтением книг (в основном классика и фантастика). Из музыкальных предпочтений в основном рэп, но в последнее время слушаю только то, что ложится на душу)
          Планирую этим летом купить велосипед и использовать его как основной вид транспорта.
      </p>
      <p class="fs-5">
          P.S. На фото мой кот, существо которое постоянно отвлекает меня от учебы и написания кода. Хоть он и вредина, я решил что он играет большую роль в процессе моего обучения)))
      </p>
    </div>
  </div>
{% endblock %}