{% extends 'base.html' %}
{% block title_text %} {{ title_text }} {% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {{ card_header_text }}
        </div>
        <div class="card-body">
          {% if form %}
            {% include 'users/includes/user_form.html' %}
          {% else %}
            <p>{{ notification_text }}</p>
            {% if request.resolver_match.view_name == 'users:password_reset_complete' %}
              <a href="{% url 'users:login' %}">войти</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}